/*
* Customizations for the DrupalCampNJ slideshow
*/

// Gold and Silver Sponsors
.gold, .silver {
  text-align: center
}

.gold img,
.silver img {
  max-width: 100%;
}

.gold .sponsor-img,
.silver .sponsor-img{
  float: left;
  width: 40%;
  height: 300px;
  line-height: 300px;
}

.gold .sponsor-img:last-child,
.silver .sponsor-img:last-child{
  float: right;
}

// Individual Sponsors

.individual {
  // For whatever reason, the first item here isn't being watched
  // so this blank line is here just to get the next one to load.
}

.individual ul {
  width: 80%;
}

.individual h4 {
  margin: 0;
}

.individual li {
  font-size: .85em;
  float: left;
  width: 49%;
  list-style: none;
  padding-bottom: 1em;
}

.individual li:nth-child(odd) {
  clear: left;
}

.individual span {
  font-style: italic;
  font-size: .75em;
}